* {
  font-family: "CustomFont"
}
@font-face {
  font-family: "CustomFont";
  src: url("./fonts/OpenSans-Regular.woff2");
  /* src: url("./fonts/ResotE-Rose-89c1.woff"); */
}

html {background-color: rgb(250, 221, 166)}
body {
  background-color: #4e3838;
  color: #fff;
}
.App {
  text-align: center;
  background-color:   rgb(250, 221, 166)
}

.done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.card {
  margin-bottom: 20px;
}
/* HEADER */
.headerBg {
  align-items: center;
  justify-content: center;
  background-color: #441601;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  font-size: 22px;
  position: relative;
}
.taskBg {
  background-color: #e28f4b;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: whitesmoke;
}


.taskBg .iconsWrap span:focus-visible {
  outline: none;
}

.taskBg .iconsWrap span:hover {
  color: #411301;
}

.mr-20 {
  margin-right: 20px;
}

.taskNumber {
  color: #5f0000;
  border: 1px solid #5f0000;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskText {
  flex: 1;
}
/* ADDITIONAL */

.Add {
  position:absolute;
  right:10%;
  bottom: 10%;
  font-size: 200%;
  background-color: rgb(32, 192, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  width: 10%;
  height: 3em;
}
.Filter {
  position:absolute;
  top: 10%;
  right:10%;
  font-size: 200%;
  background-color: rgb(32, 192, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  width: 10%;
  height: 3em;
  color: white;
}
.Back {
  position: fixed;
  bottom: 5%;
  left:5%;
  font-size: 100%;
  background-color: rgb(243, 160, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  width: 5%;
  height: 3em;
  color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: linear-gradient(to right, red , yellow);
    color: rgb(92, 3, 3);
}

.nav-links{
  font-size: 180%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* background-image: linear-gradient(to right, red , yellow); */